:root{
    --backgroundColor:#FFA3FD;
    --titleFont:#865DFF;
    --secondarycolor:#160979;
    --thirdcolor:#B6EADA;
    --sectioncolor: aquamarine;

    --defaultFont: 'Dancing Script', cursive;
    --defaulttextFont: 'Lato', sans-serif;
    --defaultheadingFont:'Sacramento', cursive;
    --defaulttext:'Montserrat', sans-serif;
}
.top-section{
 
    background-color:var(--sectioncolor);
    text-align: center;  
    /* height: 500px; */
    padding-top: 120px;
}
/* .heading-group{
    margin-top: 100px;
    display: inline-block;
} */
.heading{
    font-family: var(--defaultheadingFont);
    font-size: 4em;
    color: var(--titleFont);
    margin: 0;
    margin-top: 50px;
    display: inline-block;
}
h2{
    font-family: var(--defaulttextFont);
    color: var(--secondarycolor);
    margin: 0;
    padding-bottom: 90px;
    /* font-size: 0.75em; */
}
/* h3{
        font-family: var(--defaulttextFont);
        color: var(--secondarycolor);
        margin: 0;
        padding-bottom: 90px;
        /* font-size: 0.75em;
 } */
.first{
    font-family: var(--defaulttextFont);
    color: var(--secondarycolor);
    margin: 0;
    padding-bottom: 90px;
    margin-top: -200px;    
    padding-left: 20px;
    margin-left: -165px;
    
}
.second{
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: left;
}
.p2{
    text-align: left;
    padding-left: 20px;
    margin-top: -80px;
    margin-bottom: 80px;
    width: 65%;
    margin-left:80px;
    line-height: 2;
}
.p1{
    margin-left: 300px;
    text-align: left;
    padding-left: 20px;
    margin-top: -80px;
    width: 60%;
    margin-bottom: 80px;
    line-height: 2;
    
}
img{
    margin-bottom: -5px;
}
body{
    background-color: var(--thirdcolor);
    margin: 0px;
    font-family: var(--defaulttext);
    color:var(--secondarycolor);
}
/* font-family: 'Anton', sans-serif;
font-family: 'Inspiration', cursive;
font-family: 'Sedgwick Ave Display', cursive; */
.top-cloud{
    width: 100px;
    position: absolute;
    margin-block-start: -80px;
    margin-left: 500px;
}
.bottom-cloud{
    width: 100px;
    margin-block-start:80px;
    position:absolute;
    margin-left: -100px;

}
.mountain{
    width: 350px;
    margin-bottom: 0;

}
.profile-pic{
    border-radius: 100%;
    width: 200px;
    display: block;
    margin: auto;
    margin: 100px auto 50px auto;
}
.middle-section{
    margin: 50px auto 100px auto;
    text-align: center;
    width: 75%;
}
.footer{
    margin:0px auto;
    text-align: center;
    background-color: var(--secondarycolor);
}
.intro{
    line-height: 2;
    margin: auto;
    width: 50%;
}
hr{
    margin-top: 100px;
    margin-bottom: 100px;
    
    border: dotted 5px;
    border-bottom: none;
    width: 5%;

}
.code{
    width: 200px;
    display: block;
    margin-left:100px;       /* we can also use 'float' attribute to shift images
    float left
    margin right 40px
     */
}
.layout{
    width: 200px;               /*float right margin left 40px*/
    display: block;
    margin-top: -200px;
    margin-inline-start: auto;
}

.div-2{
    margin: 50px auto 50px auto;
    text-align: center;
    width: 55%;
}
h1{

    font-family: var(--defaulttextFont);
    margin-left: 700px;

} 
a{
    text-decoration: none;
    color: white;
}
.contact{
    background-color: var(--secondarycolor);
    font-size: 1.75rem;
    padding:10px 10px;
    border-radius: 15px;
}
.contact:hover{
    background-color:var(--sectioncolor);
}
.social{
    padding: 40px 0px;

}
.social-link{
    margin: 0px 40px;
}
.social-link:hover{
    color: var(--titleFont);
}
.copyright{
    margin: 0;
    color: white;
    padding-bottom: 40px;
    font-size: 0.75rem;
}
/* .left{
    float:left;
    margin-right: 40px;
}
.right{
    float: right;
    margin-left: 40px;

}
.skill-row{
    text-align:left;
    margin-bottom: 80px;
} 

*/