.hello{
    margin-left: 300px;
    margin-block-start: 80px;
    font-family:Arial,sans-serif;
    font-style: normal;
    font-size: xx-large;
    color:#F4EEE0 ;
}
body{
    background-color:#393646;
}
.para1{
    text-align: justify;
    display: inline-block;
    margin-left: 600px;
    position: absolute;
    margin-block-start: -100px;
    width:30%;
    height:300px;
    color:#F4EEE0 ;
    font-size: large;
}
img{
    width: 180px;
    height:250px;
    margin-block-start:75px;
    float: left;
    position: relative;
    top: 20px;
    bottom: 50px;
    
}
.first{
    margin-left: 250px;
}
.fifth{
    margin-left: 390px;    
}
.break{
    width: 300px;
    height: 300px;
}
.second_row,fifth,sixth,seventh,eight{
    top: -60px;
    right: 140px;
}
.fb{
    background-color:#6D5D6E;
    color: #F4EEE0;
    font-size: large;
    border: 2px solid #F4EEE0;
    padding: 12px;
    margin-left: 500px;
}
.break1{
    width: 30px;
    height:30px;
}
.second1{
    margin-block-start: 70px;
    position: relative;
    top: -20px;
}
.pic{
    margin-left: 250px;
    top: -50px;
    width: 20%;
} 
.third1{
    left: 200px;
    position: relative;
    display: block;
}